
.postBox {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  resize: vertical;
  font-family: 'Roboto', sans-serif;
  color: #000000;
}

button
{
  box-sizing: border-box;
  background-color: #aa0044;
  width: 100%;
  color: #ffffff;
}

button:hover
{
  background-color: #cc0066;
}
